.form__container {
  width: 620px;
  color: #333333;
  display: grid;
  margin: 0 auto;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.form__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 40px 40px;
}

@media screen and (max-width: 1152px) {
  .form__block {
    padding: 0 20px 20px;
  }
}

@media screen and (max-width: 832px) {
  .form__block {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .form__block {
    display: flex;
  }
}

@media screen and (max-width: 1152px) {
  .form__container {
    width: 100%;
  }
}

.form__container_none {
  display: none;
}

.form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.form__input {
  height: 60px;
  background: #e9e9e9;
  outline: none;
  border: none;
  width: 100%;
  padding: 20px 20px 19px;
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #a9a9a9;
}

.form__input:focus {
  color: #333333;
}

.form__input_error:focus {
  height: 60px;
  background: #e9e9e9;
  outline: none;
  border: none;
  width: 100%;
  padding: 20px 20px 19px;
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  border: 1px solid #eb5757;
  color: #eb5757;
}

@media screen and (max-width: 832px) {
  .form__input :last-of-type {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 480px) {
  .confirm {
    padding: 15px 20px 14px;
  }
}

.form__header {
  display: flex;
  justify-content: space-between;
  margin: 50px 32px 50px;
  align-items: center;
  color: #333333;
}

@media screen and (max-width: 1152px) {
  .form__header {
    margin: 30px 12px 43px;
  }
}

@media screen and (max-width: 832px) {
  .form__header {
    margin: 40px 12px 43px;
  }
}

@media screen and (max-width: 480px) {
  .form__header {
    margin: 20px 10px 19px;
  }
}

.confirm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 150px 40px 0;
  height: 100%;
}

@media screen and (max-width: 1152px) {
  .confirm {
    padding: 140px 20px 0;
  }
}

@media screen and (max-width: 480px) {
  .confirm {
    padding: 80px 10px 20px;
  }
}

.confirm__none {
  display: none;
}

.confirm__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 110%;
  color: #333333;
  margin: 0;
}

.confirm__caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  margin: 25px 0 40px;
  color: #333333;
}

@media screen and (max-width: 480px) {
  .confirm__caption {
    font-size: 16px;
  }
}

.confirm__button {
  width: 380px;
  height: 59px;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0;
  background: #333333;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
}

@media screen and (max-width: 480px) {
  .confirm__button {
    width: 100%;
  }
}

.warning {
  margin-left: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #eb5757;
  height: 30px;
  visibility: hidden;
}

.warning_on {
  visibility: visible;
}
