@import url(./normalize.css);
@import url(../fonts/fonts.css);
@import url(../styles/main.css);
@import url(../styles/calendar.css);
@import url(../styles/timepicker.css);
@import url(../styles/form.css);
@import url(../styles/footer.css);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.root {
  max-width: 100%;
  min-width: 320px;
  color: white;
  background-color: white;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.logo {
  width: 184px;
  height: 91px;
}

@media screen and (max-width: 480px) {
  .logo {
    width: 81px;
    height: 40px;
  }
}

.button {
  width: 350px;
  height: 59px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  cursor: pointer;
  background: #ffffff;
  outline: none;
  border: none;
  padding: 0;
  color: #333333;
  transition: all 0.3s ease;
}

.button:hover {
  background: #333333;
  color: #ffffff;
}

@media screen and (max-width: 480px) {
  .button {
    width: 100%;
  }
}

.button_close {
  width: 40px;
  cursor: pointer;
}

.button_close:hover {
  opacity: 0.7;
}

.button__arrow {
  width: 40px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .button__arrow {
    width: 24px;
  }
}

.button__arrow:hover {
  opacity: 0.7;
}

.button__arrow_back {
  width: 40px;
  cursor: pointer;
  margin-right: 24px;
}

.button__arrow_back:hover {
  opacity: 0.7;
}

.button__submit {
  width: 100%;
  background: #333333;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  height: 59px;
  line-height: 21px;
}

@media screen and (max-width: 832px) {
  .button__submit {
    margin-top: 80px;
  }
}

@media screen and (max-width: 480px) {
  .button__submit {
    margin-top: 80px;
  }
}
